@media screen and (min-width : 900px) {
    .name{
        font-size: 24px;
    }
}

@media screen and (min-width : 600px) and (max-width : 900px) {
    .name{
        font-size: 18px;
    }
}

@media screen and (max-width : 600px) {
    .name{
        font-size: 14px;
    }
}









